  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
      <a class="navbar-brand" href="#">CVthèque</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

  </div>
</nav>
<header class="bg-primary text-white text-center py-5">
  <div class="container">
      <h1 class="display-4">Welcome to CVthèque</h1>
      <p class="lead">Your solution for managing and consulting CVs efficiently.</p>
      <a routerLink ="/login"class="btn btn-light btn-lg">Get Started</a>
  </div>
</header>


<section id="features" class="py-5">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-4">
              <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                      <h5 class="card-title">Resume Management</h5>
                      <p class="card-text">Add, edit and delete CVs quickly and easily.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                      <h5 class="card-title">Advanced Search</h5>
                      <p class="card-text">Easily find resumes with custom filters.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                  <div class="card-body">
                      <h5 class="card-title">Easy Export</h5>
                      <p class="card-text">Download resumes in PDF format for offline use.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<footer id="contact" class="bg-light text-center py-4">
  <div class="container">
      <p> 2025 CVthèque. All rights reserved.</p>
  </div>
</footer>

  
 
