<div class="navbar">
  <div class="navbar-container">
    <div class="logo">CVthèque</div>
    <ul class="nav-links">
      <li><a routerLink="/home">home</a></li>
      <li><a href="#">Inscription</a></li>
    </ul>
  </div>
</div>

<div class="register-container">
  <div class="register-left">
    <img src="/background_text.png" alt="Création de CV" class="illustration" />
    <h2>join us to create your profissional cv</h2>
    <p>Start managing your applications and highlighting your skills today.</p>
  </div>

  <div class="register-right">
    <div class="register-card">
      <h2>Inscription</h2>
      <form >
        <div class="form-group">
          <input
            type="text"
            placeholder="User_Name"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            placeholder="Adresse email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
          <div class="form-group">
          <input
          type="number"
          placeholder="phone number"
          [(ngModel)]="phone"
          name="phone"
          required
        />
      </div>
          <div *ngIf="isSubmitted && !email.includes('.com')">invalid email</div>
        
        <div class="form-group">
          <input
            type="password"
            placeholder="password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <div *ngIf="isSubmitted && password.length<4">need atleast 5 charactere</div>
        </div>
        <div class="form-group">
          <input
            type="password"
            placeholder="Confirm password"
            [(ngModel)]="valpass"
            name="valpass"
            required
          />
          <div *ngIf="isSubmitted && password!=valpass">password invalid</div>
        </div>
        <button type="submit" class="btn" (click)="save()">sign up</button>
        <p class="login-link">
          You already have an account ? <a routerLink="/login">log in</a>.
        </p>
      </form>
    </div>
  </div>
</div>